@font-face {
	font-family: 'Milo Serif Regular';
	src: url(fonts/MiloSerifWeb.woff) format("woff")
}

@font-face {
	font-family: 'Milo Serif Regular Italic';
	src: url(fonts/MiloSerifWeb-Ita.woff) format("woff")
}

@font-face {
	font-family: 'Milo Serif Medium';
	src: url(fonts/MiloSerifWeb-Medium.woff) format("woff")
}

@font-face {
	font-family: 'Milo Serif Medium Italic';
	src: url(fonts/MiloSerifWeb-MediumIta.woff) format("woff")
}

@font-face {
	font-family: 'Milo Serif Bold';
	src: url(fonts/MiloSerifWeb-Bold.woff) format("woff")
}

@font-face {
	font-family: 'Milo Serif Bold Italic';
	src: url(fonts/MiloSerifWeb-BoldIta.woff) format("woff")
}

@font-face {
	font-family: 'Milo Sans Regular';
	src: url(fonts/MiloWeb.woff) format("woff")
}

@font-face {
	font-family: 'Milo Sans Regular Italic';
	src: url(fonts/MiloWeb-Ita.woff) format("woff")
}

@font-face {
	font-family: 'Milo Sans Medium';
	src: url(fonts/MiloWeb-Medium.woff) format("woff")
}

@font-face {
	font-family: 'Milo Sans Medium Italic';
	src: url(fonts/MiloWeb-MediumIta.woff) format("woff")
}

@font-face {
	font-family: 'Milo Sans Bold';
	src: url(fonts/MiloWeb-Bold.woff) format("woff")
}

@font-face {
	font-family: 'Milo Sans Bold Italic';
	src: url(fonts/MiloWeb-BoldIta.woff) format("woff")
}

:root {
  font-family: "Milo Serif Regular";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-dark);
  background-color: var(--bg-clr-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* global variables */
  --bg-clr-primary: #f0f0f0;
  --bg-clr-secondary: #white;
  --clr-font-white: #eff6ee;
  --clr-font-dark: #1b2025;
  --clr-green: #10a219;
  --clr-red-1: #ff6b6b;
  --clr-red-2: #f2404c;
  --clr-red-3: #c03039;
  --clr-yellow: #fbb13c;
  --clr-input-placeholder: #b3b3b3;
  --clr-input-placeholder-dark: #6b6a6a;

  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;

  --border-color: #dadada;
  --radius: 1px;
  --radius-lg: 12px;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  /* SIDN colors */
  --bg-clr-primary: #f0f0f0;
  --bg-clr-secondary: white;

  --text-white: #fff;
  --text-dark: #464646;
  --text-blue: #002154;

  --clr-btn-not-sel: white;
  --clr-btn-hover: #1961ac;
  --clr-btn-sel: #002154;
  --clr-btn-border: #b4b4b4;

  --crl-accent: #002154;

  --sidn-oranje: #e85422;
  --sidn-groen: #53b070;
  --sidn-lichtoranje: #e59236;
  --sidn-blauw: #1961ac;


  --link-hover: #282828;
  --img-invert: invert(.6);

}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h2 {
  color: var(--text-dark);
}
a {
  font-weight: 500;
  color: var(--sidn-blauw);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover);
}
html {
  /* background-color: var(--bg-clr-primary); */
}
body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;

  /* background-color: var(--bg-clr-primary); */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-dark);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-btn-not-sel);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--clr-btn-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--link-hover);
  }
  button {
    background-color: #f9f9f9;
  }
}